@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/sacramento/Sacramento-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Work-sans";
  font-style: normal;
  font-weight: 100;
  src: url('../../assets/fonts/worksans/WorkSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: "Work-sans";
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/worksans/WorkSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Work-sans";
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/worksans/WorkSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Work-sans";
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/worksans/WorkSans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: "Work-sans";
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/worksans/WorkSans-Bold.woff2') format('woff2');
}
